$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

canvas {
    width: 100% !important;
}